<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signup.css') }}">
    <title>Document</title>
</head>
<body>
    
    <div class="signup">
        <h1>Sign Up</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for m in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <span>{{ m }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
          {% endfor %} 
        {% endif %} 
        {% endwith %}
        <form method="post" action="">
          <p><input type="text" name="username" value="" placeholder="Username"></p>
          <p><input type="text" name="email" value="" placeholder="Email"></p>
          <p><input type="password" name="password" value="" placeholder="Password"></p>
          <p><input type="password" name="confirm_pwd" value="" placeholder="Confirm password"></p>
          <p class="submit"><input type="submit" name="commit" value="sign up"></p>
        </form>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html> -->


{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block head %} 
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signup.css') }}">
{% endblock %}

{% block content %}

<div class="signup">
  <h1>Sign Up</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for m in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <span>{{ m }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %} 
  {% endif %} 
  {% endwith %}
  <form method="post" action="">
    <p><input type="text" name="username" value="" placeholder="Username"></p>
    <p><input type="text" name="email" value="" placeholder="Email"></p>
    <p><input type="password" name="password" value="" placeholder="Password"></p>
    <p><input type="password" name="confirm_pwd" value="" placeholder="Confirm password"></p>
    <p class="submit"><input type="submit" name="commit" value="Sign up"></p>
  </form>
</div>

{% endblock %}